WebService_WCF/Producto_WCF/Connected Services/ServiceProductos/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Mensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Edad" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id_Empleado" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Mensaje">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
  <xs:complexType name="Productos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Mensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="Caducidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Existencia" type="xs:int" />
          <xs:element minOccurs="0" name="Id_producto" type="xs:int" />
          <xs:element minOccurs="0" name="Id_proveedor" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Productos" nillable="true" type="tns:Productos" />
  <xs:complexType name="Proveedores">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Mensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id_proveedor" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Proveedores" nillable="true" type="tns:Proveedores" />
</xs:schema>