WebService_WCF/Producto_WCF/Connected Services/ServiceProductos/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62532/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService_WCF" />
  <xs:element name="ObtenerEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sueldo" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService_WCF" minOccurs="0" name="ObtenerEmpleadoResult" nillable="true" type="q1:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Precio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebService_WCF" minOccurs="0" name="ConsultarProductoResult" nillable="true" type="q2:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebService_WCF" minOccurs="0" name="BuscarProveedoresResult" nillable="true" type="q3:Proveedores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>